#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    width: 200px;
    height: 350px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;

}

#close-modal {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.nome-total {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.hidden {
    display: none !important;
}

.show {
    display: flex;
}