* {
    margin: 0;
    box-sizing: border-box;
}
.list-item {
    display: flex;
    gap: 8px;
    align-items: center;
}

.btns-action {
    display: flex;
    gap: 4px;
    align-items: center;
}

.button-edit {
    background-color: #2e04ff;
    color: white;
}

.button-delete {
    background-color: red;
    color: white;
}

.forms-container {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    gap: 36px;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 8px;
}

#lista {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px;
    border: 1px solid black;
    border-radius: 12px;
    max-width: fit-content;
    min-width: 200px;
    margin: 0 auto; /* se o pai tiver 100%, ele centraliza o elemento no centro com o auto*/
}