*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.faixa__azul__superior{
    background-color: #152c49;
    height: 39px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4%;
}

.faixa__azul__direita{
    display: flex;
    align-items: center;
    gap: 20px;
}

.faixa__azul__esquerda{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.info__superior {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.redes__sociais__superiores {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.linha1{
    border-left: 1px solid #f2bd12;  
    height: 39px;
}


.barra__branca {
    height: 80px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra__branca img {
    margin-left: 4%;
}

.menu__barra__branca {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
}

.menu__barra__branca .menu__opcao{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #152c49;
}

.menu__barra__branca .menu__getstarted {
    background-color: #f2bd12;
    padding: 31px 80px 31px 35px;
}

.menu__barra__branca .menu__getstarted .texto__getstarted {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
}

.entrada {
    position: relative;
}

.imagem__entrada {
    width: 100vw;
}

.titulo__abertura {
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    width: 693px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 38%;
    left: 8%;
}

.abertura__botoes{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    gap: 21px;
    bottom: 27%;
    left: 13.5%;
}

.botao1 {
    padding: 25px 58px;
    background-color: #f2bd12;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.botao2 {
    padding: 25px 58px;
    background-color: white;
    color: black;
    bottom: 300px;
    left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.marcador__esquerda {
    position: absolute;
    bottom: 37%;
    left: 8%;
    opacity: 75%;
    cursor: pointer;
}

.marcador__direita {
    position: absolute;
    bottom: 37%;
    right: 8%;
    opacity: 75%;
    cursor: pointer;
}

.motivos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 4% 15%;
    gap: 5%;
}

.texto__corrido {
    text-align: justify;
    font-size: 16px;
    color: #959595;
}

.span {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2bd12;
    font-size: 24px;
    font-weight: 600;
}


.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
    font-weight: 600;
    color: #152c49;
}

.motivos__textos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.razoes__ordenadas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    margin-top: 5%;
}

.titulo__menor {
    color: #152c49;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

.razao {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.titulo__razao {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.coluna {
display: flex;
flex-direction: column;
gap: 15px;
}




.motoristas{
    margin: 7% 0;
}

.motoristas .motoristas__titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.motoristas__apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3% 14%;

}

.pessoa {
    background-color: #f2f5f7;
    padding: 0 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.pessoa__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



.rodape1{
    background-color: #152c49;
    display: flex;
    justify-content: space-around;
    padding: 3% 7%;
}

.rodape h3{
    color: #f2f5f7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.rodape p {
    color: #f2f5f7;
    font-family: Arial, Helvetica, sans-serif;
}

.rodape li {
    color: #f2f5f7;
    font-family: Arial, Helvetica, sans-serif;
}

.lista{
    display: flex;
    flex-direction: column;
    gap: 19px;
    position: relative;
    left: 16px;
}

.footer__lista{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__coluna1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icone_drivin {
    height: fit-content;
    width: fit-content;
    margin: 30px 0;
}

.info__coluna1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info__linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.footer__coluna4 {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer__coluna4 h3 {
    margin-bottom: 8px;
}

.formulario {
    display: flex;
    flex-direction: row;
    height: 55px;
}

.email {
    width: 80%;
    border: none;
}

.formulario button {
	width: 100px;
    border: none;
	font: inherit;
	cursor: pointer;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #f2bd12;

}

.redes__sociais {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.borda {
    border: 1px solid white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creditos {
    background-color: #122237;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    padding: 1.5% 12%;
}

.creditos__designs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
}

.creditos strong { 
    font-weight: 100;
    color: #f2bd12;
}
